$width: 200px;
$height: 194px;
$quantity: 8;

//Carousel.jsx

.carousel {
  padding: 50px 0;
}

//CarouselContainer.jsx

.carousel-container {
  width: 100%;
  height: $height;
  overflow: hidden;

  @media (max-width: 1204px) {
    overflow-x: scroll;
  }

  .carousel-list {
    display: flex;
    width: 100%;
    min-width: calc($width * $quantity);
    position: relative;

    @media (max-width: 1204px) {
      min-width: calc($width * 9);
      white-space: nowrap;
      scroll-behavior: smooth;
      gap: 20px;
    }
  }

  //CarouselItem.jsx

  .carousel-item {
    width: $width;
    height: $height;
    position: absolute;
    left: 100%;
    animation: autoRun 30s linear infinite;
    animation-delay: calc(
      (30s / $quantity) * (var(--position) - 1) - 30s
    ) !important;
    cursor: pointer;

    &:nth-child(9) {
      display: none;
    }

    img {
      width: 200px;
      height: 150px;
      border-radius: 8px;
      box-shadow: 5px 5px 0px rgb(223, 171, 219), 7px 7px 0px rgb(255, 255, 255),
        11px 11px 0px rgb(188, 198, 232);
      transition: 0.2s ease-in-out;

      &:hover {
        box-shadow: 8px 8px rgb(236, 180, 180), 11px 11px 0px rgb(255, 255, 255),
          16px 16px rgb(234, 236, 180);
      }
    }

    h3 {
      margin: 10px 0 0 0;
      font-size: 14px;
      line-height: 28px;
      font-weight: 500;
    }

    @media (max-width: 1204px) {
      animation: none;
      left: -10px;
      position: relative;
    }
  }

  &:hover .carousel-item {
    animation-play-state: paused !important;
  }
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc($width * -1);
  }
}
