@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:wght@400;700&display=swap");

//Main
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 50px;
  gap: 30px;
  margin: 0 auto;

  @media (max-width: 480px) {
    padding: 20px 30px;
  }
}

.hero-main {
  text-align: center;
  max-width: 690px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  &-head {
    font-size: 62px;
    line-height: 74.4px;
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    margin: 0;
  }

  &-subhead {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    max-width: 500px;
    margin: 0;
  }

  @media (max-width: 480px) {
    &-head {
      font-size: 32px;
      line-height: 38.4px;
    }

    &-subhead {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

//Hero Search

.hero-search {
  display: flex;
  align-items: center;
  border: 1px solid #efefefad;
  transition: border 0.3s ease-in-out;
  border-radius: 34px;
  width: 690px;

  &:hover {
    border: 1px solid #e8308c;
    border-radius: 34px;
    background-color: white;
  }

  &-input {
    padding: 0 0 0 24px;
    height: 54px;
    border-radius: 34px 0 0 34px;
    border: none;
    background-color: #efefefad;
    width: 100%;
    outline: none;
    font-size: 16px;
  }

  &-dropdown {
    background-color: #efefefad;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }

  &-btn {
    height: 54px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 10px;
    border-radius: 0 34px 34px 0;
    background-color: #efefefad;

    .icon {
      background-color: #e8308c;
      border-radius: 34px;
      padding: 10px;
      margin: 8px;
    }
  }

  @media (max-width: 480px) {
    width: 100%;

    &-dropdown {
      font-size: 14px;
    }

    &-input {
      font-size: 14px;
    }
  }
}

.hero-search-scrolled {
  display: flex;
  align-items: center;
  border: 1px solid #efefefad;
  transition: border 0.3s ease-in-out;
  border-radius: 34px;
  width: 400px;
  margin: 0 40px;

  &:hover {
    border: 1px solid #e8308c;
    border-radius: 34px;
    background-color: white;
  }

  &-input {
    padding: 0 0 0 24px;
    height: 54px;
    border-radius: 34px 0 0 34px;
    border: none;
    background-color: #efefefad;
    width: 100%;
    outline: none;
    font-size: 16px;
  }

  &-dropdown {
    background-color: #efefefad;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }

  &-btn {
    height: 54px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 10px;
    border-radius: 0 34px 34px 0;
    background-color: #efefefad;

    .icon {
      background-color: #e8308c;
      border-radius: 34px;
      padding: 10px;
      margin: 8px;
    }
  }

  @media (max-width: 480px) {
    width: 100%;

    &-dropdown {
      font-size: 14px;
    }

    &-input {
      font-size: 14px;
    }
  }
}

//Hero Trending

.hero-trending {
  display: flex;
  align-items: center;

  &-head {
    margin-right: 25px;
    font-size: 16px;
    color: #9890ac;
  }

  &-items {
    display: flex;
    gap: 10px;
  }

  .item {
    background-color: #efefefad;
    padding: 5px 13px;
    font-size: 14px;
    border-radius: 30%;
  }

  @media (max-width: 480px) {
    width: 400px;
    flex-direction: column;
    gap: 10px;

    .item {
      background-color: #efefefad;
      padding: 5px 15px;
      border-radius: 30%;
      font-size: 14px;
    }

    &-items {
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 5px;
      width: 360px;
    }
  }

  @media (max-width: 963px) {
    width: 400px;
    flex-direction: column;
    gap: 10px;

    .item {
      background-color: #efefefad;
      padding: 5px 10px;
      border-radius: 30%;
      font-size: 14px;
      text-align: left;
      white-space: nowrap;
    }

    &-items {
      justify-content: space-evenly;
      gap: 5px;
    }
  }
}
