//Gallery

//GalleryNav
.gallery-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;

  &-title {
    border: 1px solid rgb(202, 201, 201, 0.7);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    font-size: 14px;
    background: none;
  }

  &-navs {
    display: none;
  }

  &-items {
    display: flex;
    gap: 50px;
    align-items: center;

    &-item {
      font-weight: 600;
      font-size: 14px;
    }
  }

  &-filter {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid rgb(202, 201, 201, 0.7);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 15px;
    font-size: 14px;
    background: none;
  }

  @media (max-width: 1204px) {
    position: relative;

    &-navs {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 70%;
      padding: 90px;
      left: 50%;
      transform: translate(-49%);

      &-btn-right {
        background: white;
        border: none;
        width: 50px;
        cursor: pointer;
      }
      &-btn-left {
        background: white;
        border: none;
        margin-left: auto;
        cursor: pointer;
      }
    }

    &-items {
      overflow-x: auto;
      white-space: nowrap;
      scroll-behavior: smooth;
      padding: 0 40px;
      z-index: 10;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &-item {
      font-weight: 600;
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    &-navs {
      width: 100%;
      top: 78px;
      padding: 0;

      &-btn-left {
        margin-left: auto;
        z-index: 10;
      }
      &-btn-right {
        z-index: 10;
      }
    }

    &-items {
      width: 100%;
      position: absolute;
      top: 80px;
      padding: 0 3px;
    }
  }
}
