//Gallery

//GalleryNav
.gallery-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;

  &-title {
    border: 1px solid rgb(202, 201, 201, 0.7);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    font-size: 14px;
    background: none;
  }

  &-items {
    display: flex;
    gap: 50px;
    align-items: center;

    &-item {
      font-weight: 600;
      font-size: 14px;
    }

    &-btn {
      display: none;
    }
  }

  &-filter {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid rgb(202, 201, 201, 0.7);
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 15px;
    font-size: 14px;
    background: none;
  }

  @media (max-width: 1204px) {
    &-items {
      overflow-x: auto;
      white-space: nowrap;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }

      &-btn {
        display: block;
        position: fixed;
      }
    }

    &-item {
      font-weight: 600;
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    position: relative;
    &-items {
      width: 100%;
      position: absolute;
      top: 80px;
    }
  }
}
