* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 32px;

  &-upper {
    display: flex;
    gap: 80px;
    padding: 74px 0 44px 0;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;

    .main-svg {
      width: 104px;
      height: 30px;
      object-fit: contain;
    }

    .links {
      display: flex;
      gap: 45px;

      a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 14px;
      }
    }

    .socials {
      display: flex;
      height: 18px;
      gap: 16px;
    }
  }

  &-lower {
    display: flex;
    justify-content: space-between;
    padding: 44px 0;
    width: 100%;
    max-width: 1200px;

    .lower-list {
      display: flex;
      gap: 16px;

      a {
        text-decoration: none;
        color: rgb(47, 47, 47);
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
      }
    }
  }

  @media (max-width: 1024px) {
    width: 1009px;

    &-upper {
      width: 945px;
      gap: 60px;

      .links {
        gap: 16px;
        white-space: nowrap;
      }
    }

    &-lower {
      width: 945px;
    }
  }

  @media (max-width: 992px) {
    width: 100vw;

    &-upper {
      width: 741px;
      flex-direction: column;
      gap: 20px;

      .socials {
        gap: 8px;
        justify-content: center;
      }
    }

    &-lower {
      width: 741px;
    }
  }

  @media (max-width: 576px) {
    width: 430px;

    &-upper {
      width: 382px;

      .links {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

      }
    }

    &-lower {
      width: 382px;
      flex-direction: column;
      align-items: center;
      gap: 12px;

      .lower-list {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 16px;
      }
    }
  }

  @media (max-width: 575.98px) {
    width: 100vw;
    padding: 0 27px;

    &-upper {
        width: 100%;
    }

    &-lower {
        width: 100%;
    }
  }
}
